sample_name: "sample_name"
te_name: "TE_name"
index: "in-line_index"
raw_fastq1: "/path/to/read_1"
raw_fastq2: "/path/to/read_2"
bwa_ref_genome: "/path/to/reference/genome"
reference_dir: "/path/to/annotations"
truth_set: "/path/to/truth/set"
error_prone: "/path/to/error-prone/regions"
min_to_pass: "1"
num_cells: "1"
library: "single|micro|bulk"
sequencing_platform: "name_of_sequencing_platform"
sequencing_center: "name_of_sequencing_center"
